<div class="container">
<form novalidate #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <div class="row">
        <div class="col-sm-4">
            <img [src]="imageURLL" alt="Fail!">
        </div>
        <div class="col-sm-4 form-group">
            <div>
                <label>Title</label>
                <input class="form-control" ngModel name="title" required  #title="ngModel">
                <div class="col alert alert-danger" role="alert"
                    *ngIf="title?.errors?.required && title?.touched">
                    Title is required!
                </div>
            </div>
            <div>
                <label>Image URL</label>
                <input class="form-control" ngModel name="imageURL" required #imageURLL="ngModel" pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png|jpeg)">
                <div class="col alert alert-danger" role="alert"
                    *ngIf="imageURLL?.errors?.required && imageURLL?.touched">
                    ImageUrl is required!
                </div>
            </div>
            <div>
                <label>Author</label>
                <input class="form-control" ngModel name="author" required #author="ngModel">
                <div class="col alert alert-danger" role="alert"
                    *ngIf="author?.errors?.required && author?.touched">
                    Author is required!
                </div>
            </div>
            <div>
                <label>Final Price</label>
                <input class="form-control" ngModel name="finalPrice" required #finalPrice="ngModel">
                <div class="col alert alert-danger" role="alert"
                    *ngIf="finalPrice?.errors?.required && finalPrice?.touched">
                    Final Price is required!
                </div>
            </div>
            <div>
                <label>Regular Price</label>
                <input class="form-control" ngModel name="regularPrice" required #regularPrice="ngModel">
                <div class="col alert alert-danger" role="alert"
                    *ngIf="regularPrice?.errors?.required && regularPrice?.touched">
                    Regular Price is required!
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <label>Publisher</label>
                <input class="form-control" ngModel name="publisher" required #publisher="ngModel">
                <div class="col alert alert-danger" role="alert"
                    *ngIf="publisher?.errors?.required && publisher?.touched">
                    Publisher is required!
                </div>
            </div>
            <div>
                <label>Published Date</label>
                <input class="form-control" ngModel name="publishedDate">
            </div>
            <div>
                <label>Size</label>
                <input class="form-control" ngModel name="size">
            </div>
            <div>
                <label>Page Count</label>
                <input class="form-control" ngModel name="pageCount">
            </div>
            <div>
                <label>Tiki Now</label><br/>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="true" name="isTikiNow" ngModel>
                    <label class="form-check-label" for="inlineRadio1">Active</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="false" name="isTikiNow" ngModel>
                    <label class="form-check-label" for="inlineRadio2">InActive</label>
                  </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">SubMit</button>
</form>
</div>