<!-- header -->
<app-header></app-header>

<!-- body -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<app-footer></app-footer>

<app-login></app-login>
<app-register></app-register>

<app-popup-confirm>
  <div class="popup-body">
    Are you sure you want to delete?
  </div>
  <ng-container ngProjectAs="actions">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="handleYesConfirm()">Yes</button>
  </ng-container>
  <h3 class="popup-header modal-title" style="color: sandybrown;">Warning</h3>
</app-popup-confirm>
