<div  class="container">
    <div class="row product-detail">
        <div class="col-sm-5">
            <img class="product-image" style="width: 100%; height: 100%;"
                [src]="product.imageUrl || ''"
                [alt]="product.title">
        </div>

        <div class="col-sm-7">
            <table class="table">
                <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{product.id}}</td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>{{product.title}}</td>
                </tr>
                <tr>
                    <td>imageUrl</td>
                    <td>{{product.imageUrl}}</td>
                </tr>
                <tr>
                    <td>author</td>
                    <td>{{product.author}}</td>
                </tr>
                <tr>
                    <td>finalPrice</td>
                    <td>{{product.finalPrice}}</td>
                </tr>
                <tr>
                    <td>regularPrice</td>
                    <td>{{product.regularPrice}}</td>
                </tr>
                <tr>
                    <td>publisher</td>
                    <td>{{product.publisher}}</td>
                </tr>
                <tr>
                    <td>publishedDate</td>
                    <td>{{product.publishedDate}}</td>
                </tr>
                <tr>
                    <td>size</td>
                    <td>{{product.size}}</td>
                </tr>
                <tr>
                    <td>pageCount</td>
                    <td>{{product.pageCount}}</td>
                </tr>
                <tr>
                    <td>isTikiNow</td>
                    <td>{{product.isTikiNow}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>  
</div>
